/* img.baby-shop{
    margin: auto;
} */
header{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}
nav a{
    color: black;
}
.banner{
    margin-top: 30px;
    margin: 30px 20px;
}
.banner img{
    vertical-align: middle;
}
.feeding{
    margin: 10px;
}
.center{
    margin-top: 300px;
}
.items h1{
    font-family: sans-serif;
    font-size: 55px;
}
.items p{
    font-size: 20px;
    font-weight: 400;
}
.items button{
    background: transparent;
    background: turquoise;
    border: 1px solid cyan;
    border-radius: 5px;
    padding: 10px;
}
.card-img-overlay{
    visibility: hidden;
}
img.card-img:hover~div{
    visibility: visible;
    cursor: pointer;
    transition: all .5s;
}
.text h2{
    text-align: center;
    margin: 50px auto;
    letter-spacing: 1px;
    font-size: 35px;
    font-weight: 600;
}
.text img{
    border: 1px solid white;
    box-shadow: 5px 5px 5px 15px #c8bcbc;
    margin-bottom: 45px;
    width: 200px;
}
.new-arrival h2{
    text-align: center;
    margin: 30px;
    text-transform: capitalize;
    font-size: 45px;
    font-weight: bold;
}
.card{
    margin: 10px;
}
.card-body{
    text-align: center;
}
.navbar{
    background-color: turquoise !important;
    color: white !important;
    position: sticky;
}
.u-list li{
  list-style: none;
}
.u-list li >a{
    color: black;
}
.form h3{
    margin-top: 10%;
}
.form label{
    display: block;
    font-family: sans-serif;
}
.form input{
    display: block;
    border-radius: 5px;
}
textarea{
    display: block;
    border-radius: 5px;
}
.form input:focus,
.form textarea:focus
{
    outline: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
}
input[type=submit]{
    background: transparent;
    /* background: turquoise; */
    border: 1px solid black;
    border-radius: 5px;
}
input[type=submit]:hover{
    background: transparent;
    color: turquoise; 
    border: 1px solid black;
    border-radius: 5px;
    background: black;
}
.form i{
    font-size: 35px;
    color: turquoise;
}
.form i:hover{
    color: turquoise; 
    background: black; 
}
.span-form{
    color: rgb(137, 129, 129);
    padding: 5px;
}
.fa-facebook,.fa-twitter,.fa-youtube,.fa-instagram{
    font-size: 20px;
}
.footer{
    background: turquoise;
    padding-top: 20px;
}
.copyright{
    background-color: turquoise;
    text-align: center;
    height: 30px;
    border-top: 1px solid black;
    padding: 5px;
}
.footer-butn{
    background: transparent;
    background: turquoise;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
.footer input{
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background: transparent;
}
.border-gradient{
    border:1px solid turquoise;
}
.service h3{
    font-family: 'Metal Mania', cursive;
}
.about h2{
    font-family: 'Metal Mania', cursive;
    text-align: center;
}
.product-wrapper {
    position: relative;
    box-shadow: 0 2px 8px 0.5px rgba(0, 0, 0, 0.22);
    overflow: hidden;
}
.p-30 {
    padding: 30px;
}
.mb-20 {
    margin-bottom: 20px;
}
.align-center {
    justify-content: center;
    align-items: center;
    display: flex;
}
.mb-80 {
    margin-bottom: 50px;
}